@model IEnumerable<Mvc_AWS_Dynamo_Usuarios.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    |
    <a asp-controller="Usuarios" asp-action="BuscarUsuarios">Buscar usuarios</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idusuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaalta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idusuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaalta)
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = item.idusuario }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.idusuario  }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idusuario })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<h1 style="color:blue">No existe coches en DynamoDb</h1>}

